<div class="jumbotron">
  <h1 class="display-3">Welcome to TraderPlatform!</h1>
  <p class="lead">We're a new platform for traders like you</p>
  <hr class="my-4">
  <p>Sign up below, you can migrate your BuildPlatform reputation in one form</p>
  <form action="/import" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">BuildPlatform account</label>
      <input type="text" class="form-control" id="buildplatformaccount" name="buildplatformaccount">
      <small id="emailHelp" class="form-text text-muted">Enter your BuildPlatform username.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
